node_modules
dist
.env
.env.production
uploads/*.jpg
uploads/*.png
uploads/*.pdf
uploads/*.zip
uploads/*.mp4
uploads/*.mov
uploads/*.jpeg
server_log.txt
build_log.txt
serviceAccountKey.json*
*.log
push_error_3*
src/scripts/verifyFix.ts
data/
temp_db.json
.DS_Store

# Large files
mongodb*
*.exe
*.msi
*.zip

*.txt
